<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {%load static%}
    <link href="{% static 'css/main.css' %}" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'css/nav.css' %}">

    <!-- First include jquery js -->
    <script src="//code.jquery.com/jquery-1.12.0.min.js"></script>
    <script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <!-- fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Fraunces:wght@200;300;400;500&display=swap" rel="stylesheet">
  
    <link href="https://fonts.googleapis.com/css2?family=Bitter:wght@200;400;500&display=swap" rel="stylesheet">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


    <title>Edit Recipe</title>

    <script type="text/JavaScript">
    function createNewIngredient() {
        var div = document.getElementById('ingredient_input');
        var inputs = div.getElementsByTagName("input");
        var num = inputs.length/2;

        //Create Label for Amount
        var newAmountLabel = document.createElement("label");
        newAmountLabel.for = "amount_"+num;
        newAmountLabel.innerHTML = " Amount ";
        document.getElementById('ingredient_input').appendChild(newAmountLabel);

        //Create input for Amount
	    var newAmount = document.createElement("input");
	    newAmount.type = "number";
	    newAmount.id = "amount_"+num;
	    newAmount.name="amount_"+num;
	    document.getElementById('ingredient_input').appendChild(newAmount);

	    //Create Label for Measurements
        var newMeasurementLabel = document.createElement("label");
        newMeasurementLabel.for = "measurements_"+num;
        newMeasurementLabel.innerHTML = " Measurement ";
        document.getElementById('ingredient_input').appendChild(newMeasurementLabel);

	    //Create select for Measurements
	    var newMeasurements = document.createElement("select");
        newMeasurements.id = "measurements_"+num;
        newMeasurements.name = "measurements_"+num;
        m = ["Tablespoon", "Teaspoon", "Ounces", "Cup", "Pint", "Quart", "Gallon", "Milliliter", "Liter", "Pound", "Gram", "Kiligram"]

        for(var i = 0; i < m.length; i++) {
            var opt = document.createElement('option');
            opt.innerHTML = m[i];
            opt.value = m[i];
            newMeasurements.appendChild(opt);
        }
        document.getElementById('ingredient_input').appendChild(newMeasurements);

	    //Create label for Name
	    var newNameLabel = document.createElement("label");
        newNameLabel.for = "name_"+num;
        newNameLabel.innerHTML = " Name ";
        document.getElementById('ingredient_input').appendChild(newNameLabel);

	    //Create input for Name
	    var newName = document.createElement("input");
	    newName.type = "text";
	    newName.id = "name_"+num;
	    newName.name = "name_"+num;
	    document.getElementById('ingredient_input').appendChild(newName);
	    document.getElementById('ingredient_input').appendChild(document.createElement('br'));
    }

    function createNewStep() {
        var div = document.getElementById('steps');
        var inputs = div.getElementsByTagName("input");
        var num = inputs.length+1;

        var newStepLabel = document.createElement("label");
        newStepLabel.for = "step_"+num
        newStepLabel.innerHTML = "Step "+num+" "
        div.appendChild(newStepLabel);

        var newStepInput = document.createElement("input");
        newStepInput.type = "text";
        newStepInput.id = "step_"+num;
        newStepInput.name = "step_"+num;
        div.appendChild(newStepInput);
        div.appendChild(document.createElement('br'));
    }

    function selectElement(id, valueToSelect) {
        let element = document.getElementById(id);
        element.value = valueToSelect;
    }
    </script>

   <!-- end js -->

</head>

<!-- nav -->
<nav class="navbar navbar-expand-lg navbar-light">
    <a class="navbar-brand" href="/users/"><img src="{% static 'img/logo.png' %}"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#myNavbarToggler13"
        aria-controls="myNavbarToggler13" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="myNavbarToggler13">
        <ul class="navbar-nav mx-auto">
            <li class="nav-item">
                <a class="nav-link" href="about.html">About</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/recipe/add/">Add a Recipe</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">User</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'password_change' %}">Change 
            Password</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'logout' %}">Logout</a>
            </li>
        </ul>
    </div>
</nav> 
<!-- end nav -->
<body>
    <div class="container1">
        <div class="row">
            <h2>Edit Recipe</h2>
        </div>
        <div class="row">
            <form action="/recipe/save/{{recipe.id}}/" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <input type="file" id="picture" name="picture" value="{{ filename }}"><br>
                <label class="main" for="title">Title</label><br>
                <input type="text" id="title" name="title" value="{{recipe.title}}"><br>
                <label class="main" for="servings">Number of Servings</label><br>
                <input type="number" id="servings" name="servings" value="{{recipe.servings}}"><br>
                <label for="ingredient_input">Ingredients</label><br>
                <div id="ingredient_input">
                    {% for ingredient, measurement in zipped %}
                        <label for="amount_{{ forloop.counter }}"> Amount </label>
                        <input type="number" id="amount_{{ forloop.counter }}" name="amount_{{ forloop.counter }}" value="{{ ingredient.amount.value }}"><br>
                        <label class="measure" for="measurements_{{ forloop.counter }}"> Measurement </label>
                        <select name="measurements_{{ forloop.counter }}" id="measurements_{{ forloop.counter }}">
                            <option value="Tablespoon">Tablespoon</option>
                            <option value="Teaspoon">Teaspoon</option>
                            <option value="Ounces">Ounces</option>
                            <option value="Cup">Cup</option>
                            <option value="Pint">Pint</option>
                            <option value="Quart">Quart</option>
                            <option value="Gallon">Gallon</option>
                            <option value="Milliliter">Milliliter</option>
                            <option value="Liter">Liter</option>
                            <option value="Pound">Pound</option>
                            <option value="Gram">Gram</option>
                            <option value="Kiligram">Kiligram</option>
                        </select><br>
                        <script type="text/JavaScript">
                            selectElement('measurements_{{ forloop.counter }}', '{{measurement}}');
                        </script>

                        <label for="name_{{ forloop.counter }}"> Name </label>
                        <input type="text" id="name_{{ forloop.counter }}" name="name_{{ forloop.counter }}" value="{{ ingredient.name.value }}"><br>

                    {% endfor %}
                </div>
                <button class="addIngred" type="button" onclick="createNewIngredient()">Add Ingredient</button><br>
                <label class="main" for="steps">Recipe Steps</label><br>
                <div id="steps">
                    {% for step in steps %}
                        <label>Step {{ forloop.counter }}</label>
                        <input type="text" id="step_{{ forloop.counter }}" name="step_{{ forloop.counter }}" value="{{ step }}"><br>
                    {% endfor %}
                </div>
                <button class="addStep" type="button" onclick="createNewStep()">Add Step</button><br>
                <input class="addRecipe" type="submit" value="Edit Recipe">
            </form>
        </div>
    </div>
</body>

</html>