<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Recipes</title>
</head>
<body>
    <div>
        {% if user.is_authenticated %}
            <ul>
                {% for recipe in recipes %}
                    <li><a href="/recipe/{{recipe.id}}/">{{ recipe.title }}</a></li>
                {% endfor %}
            </ul>
            <form action="/recipe/add/">
                <input type="submit" value="Add recipe" />
            </form>
            <a href="{% url 'logout' %}">Logout</a>
            <a href="{% url 'password_change' %}">Change Password</a>
        {% else %}
            <a href="{% url 'login' %}">Login</a>
        {% endif %}
    </div>
</body>
</html>