<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load static %}

    <link href="{% static 'css/recipe.css' %}" rel="stylesheet" type="text/css">

    <!-- First include jquery js -->
    <script src="//code.jquery.com/jquery-1.12.0.min.js"></script>
    <script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    
    <link rel="stylesheet" type="text/css" href="{% static 'css/nav.css' %}">

    <link rel="preconnect" href="https://fonts.gstatic.com">

    <!-- fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Fraunces:wght@200;300;400;500&display=swap" rel="stylesheet">
  
    <link href="https://fonts.googleapis.com/css2?family=Bitter:wght@200;400;500&display=swap" rel="stylesheet">

    <title>{{recipe.title}}</title>
    
<!-- nav -->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top">
  <div class="container">
    <a class="navbar-brand pull-left" href="/users/"><img src="{% static 'img/logo.png' %}" height ="60"></a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" href="about.html">About</a>
        </li>
                <li class="nav-item">
          <a class="nav-link" href="/recipe/add/">Add Recipes Manually</a>
        </li>
          <li class="nav-item">
              <a class="nav-link" href="/recipe/upload/">Upload Recipe from URL</a>
          </li>

        <li class="nav-item">
          <a class="nav-link" href="/recipe/?">User</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'logout' %}">Logout</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'password_change' %}">Change 
            Password</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<!-- end nav -->

</head>

<body>
    <div class="row">
        <div class="col-lg-4">
        <img class="img-responsive" src="{{ filename }}" title=" {{ recipe.title }}">
        <label>Title</label>
        </div>

        <div class="col-lg-4">
        <h1>{{recipe.title}}</h1>
        <h3>Number of Servings: {{recipe.servings}}</h3>
        <h3>Ingredients</h3>
        <ul>
            {% for ingredient in ingredients %}
                    <li>{{ingredient.amount}} {{ingredient.name}}</li>
            {% endfor %}
        </ul>
        <h3>Steps</h3>
        <ol>
            {% for step in steps %}
                <li> {{step}} </li>
            {% endfor %}
        </ol>
        </div>

        <div class="col-lg-4">

        <form action="/recipe/edit/{{recipe.id}}">
            <input type="submit" value="Edit recipe" />
        </form>
        <form action="/recipe/delete/{{recipe.id}}">
            <input type="submit" value="Delete recipe" />
        </form>
        </div>
    </div>
</body>

</html>