<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

{%load static%}
    <link rel="stylesheet" type="text/css" href="{% static 'css/user.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/nav.css' %}">
    <link href="{%static 'css/main.css' %}" rel="stylesheet">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    
    <link rel="preconnect" href="https://fonts.gstatic.com">

    <!-- fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Fraunces:wght@200;300;400;500&display=swap" rel="stylesheet">
  
    <link href="https://fonts.googleapis.com/css2?family=Bitter:wght@200;400;500&display=swap" rel="stylesheet">

    <title>Registration</title>

<!-- nav -->
<nav class="navbar navbar-expand-lg navbar-light">
    <a class="navbar-brand" href="/users/"><img src="{% static 'img/logo.png' %}"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#myNavbarToggler13"
        aria-controls="myNavbarToggler13" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="myNavbarToggler13">
        <ul class="navbar-nav mx-auto">
            <li class="nav-item">
                <a class="nav-link" href="about.html">About</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/recipe/add/">Add a Recipe</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">User</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'password_change' %}">Change 
            Password</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'logout' %}">Logout</a>
            </li>
        </ul>
    </div>
</nav> 
<!-- end nav -->
</head>

<body>
<div class="row">
<div class="col-lg-4 col-md-4 col-sm- 4 mb 4">	
    <form method="post">
        {% csrf_token %}
        {{form}}
        <input type="submit" value="Register">
    </form>
</div>
</div>

<div class="row2">
<div class="side col-lg-4 col-md-4 col-sm- 4 mb 4">	
    <a href="{% url 'login' %}">Back to Login</a>
</div>
</div>

</body>
</html>