
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');



h2,h3, .card-header, .card-title, .login, .btn-group {
	font-family: 'Playfair Display', 'serif';
	font-weight: 800;
}



.jumbotron {
	margin-top: 50px;
	width: 100% !important;
}

.tron {
	margin-top: 0px;
}

 .jumbotron-heading {
	font-family: 'Playfair Display', 'serif';
	font-weight: 800;
	text-align: center;
}

.recipe_header, h3 {
	color:#082447;
	margin-top: -40px;
	margin-right: 27%;
	font-family: 'Playfair Display', 'serif';
	font-weight: 800 !important;
	text-align: center !important;

}


.ex{
	box-shadow: 0 0 5px rgba(75, 75, 75, .07);
	z-index: 1;
	height:260px;

}
p, .parse, .button {
	font-family: 'Poppins', 'san-serif';
	font-weight: 200;
	font-size: 1em;
	
}

.recipe_header2 {
	font-family: 'Poppins';
	font-weight: 200;
	font-size: 1.3em;
}

.card-img-top { 
	 width: 100% !important; 
	 object-fit: cover !important;
	 opacity: 1;
	 display: block;
	 border-radius: 0 !important;
}


.btn {
	padding:10px 20px;
	margin: 5px;
	box-shadow: 0 0 5px rgba(75, 75, 75, .07);
	z-index: 1;
	border-radius: 0 !important;
	background-color:#082447 !important;
	color:#fff !important;
}

.btn:hover{
	background-color:#fff !important;
	color:#082447 !important;
}

.button {
 position: absolute;
 top: 40%;
 left: 50%;
 transform: translate(-50%, -50%);
 -ms-transform: translate(-50%, -50%);
 text-align: center;
 opacity: 0;
 transition: opacity .35s ease;
 
}

.card:hover .card-img-top {
    opacity: 0.4;
  }

.card:hover .button {
   opacity: 1;

  }

.jumbo-btn {
	color: #fff;
	font-family: 'Poppins', 'san-serif';
	font-weight: 300;
	font-size: 1em;
	margin:5px;
	margin-bottom: 10px;
    padding: 5px 10px;
    background:#082447; 
    border:0 none;
    cursor:pointer;
	border-radius: 0 !important;
    border-radius: 5px; 
    box-shadow: 1px 2px 3px rgba(0,0,0, .5);
	z-index: 1;
}
.jumbo-btn:hover{
	background-color: #fff;
	color:#082447;
}


h4 {
	display: flex;
	justify-content: center;
	color:#082447;
}

.card {
	position: relative;
	box-shadow: 0 0 5px rgba(75, 75, 75, .07);
	z-index: 1;
	border-radius: 0 !important;
	margin: 5px;
}

.card-title a, h3 a {
	color: rgba(0,0,0) !important;
}

.card-title a:hover, h3 a:hover {
	color: rgba(105, 117, 133) !important;
}

.card-title {
	color: #082447;
	text-align: center;
}

.card-text {
	text-align: center;
}

.card-header {
background-color: rgba(255,255,255) !important;
}


.recipes {

 	margin-left: 12%;
 	padding-top: 40px;
}


.login, ol, ul {
	font-family: 'Playfair Display';
}

.pw {
	padding: 4rem 0rem 8rem 0rem;
}


.profile_title{
	font-weight: 800 !important;
	text-align: center !important;
	margin-top: 10%;
}
.cards {
	display: flex;
  justify-content: center;
}

.row {
	margin-bottom: 10%;
}

.col{
	margin: 0px 30px 0px 30px;
	padding: 0px 10px 0px 10px;
}


html {
  background-color: rgba(250, 247, 242) !important;
  position: relative;
  min-height: 100%;
}
body {
  background-color: rgba(250, 247, 242) !important;
  height: 100% !important;
 }


footer { 

    position: absolute;
    left: 0;
    bottom: 0;
    width: 100% !important;
    height: 100px;
}

.m-0 {
	font-weight: 300 !important;
}





