
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');


/*html {
  background-color: rgba(250, 247, 242) !important;
  height: 100% !important;
}*/

body {
  background-color: rgba(250, 247, 242) !important;
  height: 100% !important;
}
h2,h3, .card-header, .card-title, .login, .btn-group {
	font-family: 'Playfair Display', 'serif';
	font-weight: 800;
}

h1, h3{
	font-family: 'Playfair Display', 'serif';
	font-weight: 800;
	text-align: center !important;

}

.profile_title{
	text-align: center !important;
}

 .jumbotron-heading {
	font-family: 'Playfair Display', 'serif';
	font-weight: 800;
}

.recipe_header,h3 {
	margin-right: 25%;
	font-family: 'Playfair Display', 'serif';
	font-weight: 600 !important;
}

p, .parse, .button {
	font-family: 'Poppins', 'san-serif';
	font-weight: 200;
	font-size: 1em;
	
}

.card-img-top { 
	 width: 100% !important; 
	 object-fit: cover !important;
	 opacity: 1;
	 display: block;
}


.btn {
	box-shadow: 0 0 5px rgba(75, 75, 75, .07);
	z-index: 1;
	border-radius: 0 !important;
}

.button {
 position: absolute;
 top: 50%;
 left: 50%;
 transform: translate(-50%, -50%);
 -ms-transform: translate(-50%, -50%);
 text-align: center;
 opacity: 0;
 transition: opacity .35s ease;
}

.card:hover .card-img-top {
    opacity: 0.4;
  }

.card:hover .button {
   opacity: 1;

  }

.jumbo-btn {
	color: #fff;
	font-family: 'Poppins', 'san-serif';
	font-weight: 300;
	font-size: 1em;
	margin:5px;
	margin-bottom: 10px;
    padding: 5px 10px;
    background:#ccc; 
    border:0 none;
    cursor:pointer;
	border-radius: 0 !important;
    border-radius: 5px; 
    box-shadow: 1px 2px 3px rgba(0,0,0, .5);
	z-index: 1;
}
.jumbo-btn:hover{
	color:#000;
}


h4 {
	display: flex;
	justify-content: center;
}

.card {
/*	padding: 5px 5px 0px 5px;*/
	position: relative;
	box-shadow: 0 0 5px rgba(75, 75, 75, .07);
	z-index: 1;
	border-radius: 0 !important;
	margin: 5px;
}

.card-title a, h3 a {
	color: rgba(0,0,0) !important;
}

.card-title a:hover, h3 a:hover {
	color: rgba(105, 117, 133) !important;
}


.card-header {
background-color: rgba(255,255,255) !important;
}


.recipes {
 	margin-left: 10%;
 	padding-top: 20px;
	padding-bottom: 20px;
}


.login, ol, ul {
	font-family: 'Playfair Display';
}

.pw {
	padding: 4rem 0rem 8rem 0rem;
}



#profile{
	margin-left: 20px;
	margin-right: 20px;
	padding-left: 20px;
}

footer { position: absolute; bottom: 0px; width: 100%;}





