body{
	background-color: rgba(237, 243, 250) !important;
}
h2 {
	font-family: 'Fraunces';
	font-style: bold;
	margin-top: -20px;
}

p {
	font-family: 'Bitter';
}

.container1{
/*	margin-top: 10px;
	margin-left: 150px;
	margin-right: 150px;*/
	margin: 10px 150px 20px 150px;
	padding:20px 80px 20px 80px;
	background-color: rgba(255,255,255);
}

label, .measure {
	font-family: 'Fraunces';
	font-size: 1rem;
	font-weight: 300;
	margin: 10px 0px 0px 0px;

}

.measure {
	font-family: 'Fraunces';
	font-size: .8rem;
	font-weight: 300;
}



input{
	width: 100%;
  	max-width: 90%;
}
.main{
	font-family: 'Fraunces';
	font-weight: 400;
	font-size: 1.3rem;
}

form {
	/*background-color: rgba(255, 255, 255);*/
	padding: 0px 10px 0px 10px;
}

.addIngred, .addStep {
	font-family: 'Bitter';
	margin: 5px 0px 20px 70px;
    padding: 5px 10px;
    background:#ccc; 
    border:0 none;
    cursor:pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px; 
}

.addRecipe{
	font-family: 'Bitter';
	margin-left: 0px;
    padding: 5px;
    background:#ccc; 
    border:0 none;
    cursor:pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px; 


}
/*.addRecipe:hover{
	background-color: rgba(143, 176, 227);
	border-radius: 15px;
	width: 150px;
	height: 60px;

}*/


