


.container1 {
	background-color: #FFFFFF;
  margin: 30px 150px 50px 150px;
  padding:50px 50px 50px 50px;
  position: relative;
  box-shadow: 0 0 5px rgba(75, 75, 75, .07);
  z-index: 1;
  border-radius: 0 !important;
  position: relative;
}

.info{
  background-color: #FFFFFF;
}

.img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
}

h1, h4 {
	font-family: 'Playfair Display';
  font-weight: 800;

}

.rectitle{
  color: #082447;
}

ul, ol {
	font-family: 'Poppins';

}

.divider {
  border-left: 1px solid black;
  height: 200px;
}


input[type=submit] {
	font-family: 'Bitter';
	margin-bottom: 10px;
    padding: 5px 10px;
    background-color:#082447;
    color:#fff; 
    border:0 none;
    cursor:pointer;
    border-radius: 0 !important;
    box-shadow: 1px 2px 3px rgba(0,0,0, .5);
}

input[type=submit]:hover{
  background-color: #fff;
  color:#082447;
}
html {
  background-color: rgba(250, 247, 242) !important;
  position: relative;
  min-height: 100%;
}

body {
    background-color: rgba(250, 247, 242) !important;
    min-height: 100%;
    padding-bottom: 150px;
}

footer {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100px;
}