html {
  background-color: rgba(250, 247, 242) !important;
}
.container1 {
	background-color: #FFFFFF;
  margin: 10px 150px 50px 150px;
  padding:20px 20px 30px 20px;
  position: relative;
  box-shadow: 0 0 5px rgba(75, 75, 75, .07);
  z-index: 1;
  border-radius: 0 !important;
}

.info{
  background-color: #FFFFFF;
}

.img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
}

h1, h3 {
	font-family: 'Fraunces';
}


ul, ol {
	font-family: 'Bitter';
}



input[type=submit] {
	font-family: 'Bitter';
	margin-bottom: 10px;
    padding: 5px 10px;
    background:#ccc; 
    border:0 none;
    cursor:pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px; 
}

