.row, {
	margin: 100px;
	padding-left: 2rem; 
}

.row2 {
	margin-top: -100px;
	margin-left: 60px;
	font-family: 'Bitter';
	font-size: .8rem;
}

form {
	font-family: 'Fraunces';
	font-size: .8rem;
}

input[type=submit] {
	font-family: 'Bitter';
	margin: 5px 0px 20px 70px;
    padding: 5px 10px;
    background:#ccc; 
    border:0 none;
    cursor:pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px; 
}

.container {
	display: flex;
 	justify-content: center;
}