
html {
	background-color: rgba(250, 247, 242) !important;
	height: 100%;
}


form {
	font-family: 'Fraunces';
	font-size: 1rem;
}

input[type=submit] {

	font-family: 'Bitter';
	margin: 10px 0px 20px 80px;
    padding: 5px 10px;
    background:#ccc; 
    border:0 none;
    cursor:pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px; 
    display: flex;
 	justify-content: center;
}

.container {
	display: flex;
 	justify-content: center;
}

text{
	margin: 10px;
}

a {
	font-family: 'Bitter';
	display: flex;
 	justify-content: center;
}

.fp, .reg {
	font-size: .8em;
	text-decoration: underline;
}

.fp {
	margin-top: -20px;
	margin-left: 150px;
	font-size: .8em;
	text-decoration: underline;

}

.login {
	padding-top: 2rem;
	padding-bottom: 2rem;
	display: flex;
 	justify-content: center;
}

#footer { position: fixed; bottom: 0px; height:150px; }